<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Fly Away Registration Email</title>
</head>
<style>
    body {
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
    }
</style>
<body>
<table style="width:100%; height:100%;">
    <tr>
        <td align="center" valign="middle">
            <div>
                <h1> 👀 Guess me! </h1>
                <img th:src="${firstImage}" width="400" height="100"> </br>
                <p style="margin-top: 10px;"><h3>written date : [[${firstImageTime}]]</h3></p>
                <img th:src="${lastImage}" width="400" height="100"> </br>
                <p style="margin-top: 10px;"><h3>written date : [[${lastImageTime}]]</h3></p>
                <p style="margin-top: 10px;"><h3>The similarity between the initial handwriting and current handwriting is low. You may need to consult your loved one's doctor.</h3></p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>